body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px 8px 8px 10px;
    margin-bottom: 30px;
}
h1 {
    background: red;
    text-align: center;
    color: white;
}
.inactive {
    display: none;
}
.prymary-container {
    background:red;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mini-container-prymary-container{
    height: 300px;
    width:  300px;
    display: flex;
    justify-content: center;
}
.mini-container-prymary-container img {
    width: 100%;
    height: 100%;
}
.second-container {
 text-align: center;
}
.third-container {
    text-align: center;
    margin-bottom: 40px;
}
.third-container p {
    font-weight: bold;
    background: gold;
}
.trophie {
    display: grid;
    grid-template-columns: 350px  270px 510px ;
    gap: 20px;
    place-content: center;
}
.Ucl {
    width: 340px;
    height: 320px;
}
.Ucl img {
    width: 90%;
    height: 90%;
}
.PremierL {
    width: 260px;
    height: 360px;
}
.PremierL img {
    width: 90%;
    height: 90%;
}
.trophie .MundialC{
    width: 510px;
    height: 280px;
}
.MundialC img {
    width: 90%;
    height: 90%;
}
/*Detalles de la Ucl*/
#detalles-de-trofeos {
    width: 430px;
    position: absolute;
    right: 0;
    background: black;
    border-radius: 5px;
    color: white;
    border: 3px solid black;
}
.trophies-uk img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    background: blue;
}
.informacion-de-trofeos{
    margin: 7px;
}
.product-detail-close {
    width: 14px;
    height: 14px;
    top: 15px;
    left: 15px;
    position: absolute;
    padding: 12px;
    border-radius: 50%;
    background: white;
    z-index: 2;
}
.product-detail-close:hover{
    cursor: pointer;
}
/*Detalles de la premier League*/
 #detalles-de-Pl{
    width: 430px;
    position: fixed;
    right: 0;
    background: black;
    border-radius: 5px;
    color: white;
    border: 3px solid black;
 }
 #detalles-de-Pl img {
    width: 100%;
    object-fit: cover;
 }
 .trophie-Pl-close{
    width: 14px;
    height: 14px;
    top: 15px;
    left: 15px;
    position: absolute;
    padding: 12px;
    border-radius: 50%;
    background: white;
    z-index: 2;
 }
/*Detalles del Mundial de Clubes*/
#detalles-de-Mc{
    width: 430px;
    position: fixed;
    right: 0;
    background: black;
    border-radius: 5px;
    color: white;
    border: 3px solid black;
 }
 #detalles-de-Mc img {
    width: 100%;
    object-fit: cover;
 }
 .trophie-Mc-close{
    width: 14px;
    height: 14px;
    top: 15px;
    left: 15px;
    position: absolute;
    padding: 12px;
    border-radius: 50%;
    background: white;
 }

 /*Cuarto contenedor*/
 .fourth-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 420px 420px 450px ;
    grid-template-rows: 478px;
    gap: 20px;
    object-fit: cover;
    place-content: center;
 }
 .fourth-container p {
    text-align: center;
    font-weight: bold;
 }
 .liverpool {
    background:black;
    border-radius: 10px;
    color: white;
    border: 5px solid black;
 }
 .liverpoolI {
   width: 100%;
 }
 .mini-container-liverpool{
    display: grid;
    background: white;
    color: black;
    width: 410px;
    height: 60px;
    place-content: center;
    font-size: large;
 }
 .mini-container-liverpool img{
    position: absolute;
    height: 50px;
    width: 45px;
    margin-left: 115px;
    margin-top: 3px;
 }
 .Arsenal {
    background: black;
    color: white;
    border: 5px solid black;
 }
 .ArsenalI{
   width: 100%;
    height: 250px;
 }
 .mini-container-arsenal{
    display: grid;
    background: white;
    color: black;
    width: 410px;
    height: 60px;
    place-content: center;
    font-size: large;
    border-radius: 5px;
 }
 .mini-container-arsenal img{
    position: absolute;
    height: 50px;
    width: 45px;
    margin-left: 120px;
    margin-top: 3px;
 }
 .ManchesterC {
    background: black;
    border-radius: 10px;
    color: white;
    border: 5px solid black;
 }
 .ManCityI {
   width: 100%;
 }
 .mini-container-Mc{
    display: grid;
    grid-template-columns: 130px 200px;
    background: white;
    color: black;
    height: 60px;
    place-content: center;
    font-size: large;
    border-radius: 5px;
    
 }
 .mini-container-Mc p {
    text-align: start;
 }
 .mini-container-Mc img{
    height: 50px;
    width: 45px;
    margin-left: 80px;
    margin-top: 3px;
 }
 .informacion {
   display: grid;
   grid-template-columns: 140px 130px 140px;
   grid-template-rows: 150px;
   gap : 7px;
 }
 .informacion p{
   color:  white;
 }
 .victoria {
   display: flex;
   flex-direction: column;
   height: 150px;
   width: 130px;
   align-items: center;
   text-align: center;
   justify-content: center;
 }
 .liverpoool img{
   height: 100px;
  width: 100px;
 }
 .arseenal img{
   height: 100px;
  width: 100px;
 }
 .ManCity img {
   height: 100px;
  width: 100px;
 }
 .Empate {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 130px;
   align-items: center;
   text-align: center;
   justify-content: center;
 }
 .apretondeManos{
   border-radius: 10px;
   background: white;
   height: 100px;
   width: 100px;
 }
 .Derrota {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 130px;
    align-items: center;
    text-align: center;
    justify-content: center;
 }
 .ArsenalD{
   height: 100px;
   width: 85px;
 }
 .ManCityD {
   height: 100px;
   width: 100px;
 }
 .LiverpoolD{
   height: 100px;
   width: 73px;
 }
 @media (max-width: 640px){
    .trophie {
        display: grid;
        grid-template-columns: 510px ;
        grid-template-rows: 320px 360px 300px;
        gap: 20px;
        justify-items: center;
    }
    #detalles-de-Mc{
        width: 99%;
        height: 100%;
        right: 0;
        background: black;
        border-radius: 5px;
        color: white;
        border: 3px solid black;
     }
     #detalles-de-Pl{
        width: 99%;
        height: 100%;
        right: 0;
        background: black;
        border-radius: 5px;
        color: white;
        border: 3px solid black;
     }
     #detalles-de-trofeos {
        width: 99%;
     }
     .fourth-container{
      grid-template-columns: 450px ;
      grid-template-rows: 478px  478px  478px;
      justify-items: center
     }
     .mini-container-arsenal{
      width: 440px;
     }
     .mini-container-liverpool{
      width: 440px;
     }
    }